* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-dark-cyan: hsl(158, 36%, 37%);
  --clr-cream: hsl(30, 38%, 92%);
  --clr-neutral-dark-blue: hsl(212, 21%, 14%);
  --clr-dark-blue: hsl(228, 12%, 48%);
  --clr-white: hsl(0, 0%, 100%);
  --fnt-size: 14px;
  --fnt-family-montserrat: Montserrat, "Sans serif";
  --fnt-family-fraunces: Fraunces, "Sans serif";
  --bor-radius: 10px;
}

html,
main {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-cream);
  color: var(--clr-dark-blue);
  line-height: 1.5;
  font-size: 14px;
}

h1 {
  color: var(--clr-neutral-dark-blue);
  font-family: var(--fnt-family-fraunces);
  font-size: 24px;
  line-height: 1;
  width: 150px;
}

h4 {
  font-family: var(--fnt-family-montserrat);
  font-weight: 400;
  color: var(--clr-dark-blue);
}

.card__container {
  display: flex;
  width: 70%; /* Réduire la largeur pour les écrans de bureau */
  margin: 0 auto; /* Centrer horizontalement */
  font-size: 1rem; /* Légèrement plus grande taille de police */
  padding: 1rem;
  border-radius: var(--bor-radius);
}

@media (max-width: 375px) {
  .card__container {
    width: 100%; /* Prend toute la largeur disponible */
    padding: 1rem; /* Marge intérieure pour l'espace autour du contenu */
    font-size: 1rem; /* Taille de police de base */
  }
}

.image__section {
  display: flex;
  justify-content: end;
}
.image__section--size {
  max-width: 70%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.info__section {
  background-color: var(--clr-white);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  max-width: 247px;
  padding: 1.5rem;
}
